/*browser style reset*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Helvetica;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*setting content-box by default*/

*, *::after, *::before {
    box-sizing: content-box;
}

/*global rules*/

* {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
    opacity: 0.9;
}

h2 {
    font-size: 33px;
}

/*page rules*/

.page-container {
    height: 100%;
    margin: 70px 20px 0px;
    overflow: hidden;
}

/*header*/

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    border-bottom: 1px solid seashell;
    height: 69px;
    display: flex;
    z-index: 9999;
    opacity: 1;
}

.header ul li {
    text-decoration: underline;
    display: inline;
    margin: 0px 10px;

}

.header img {
    margin-left: 10px;
    height: 50px;
    margin: 9.5px 10px;
}

/*header navigation*/

.nav-left {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}

.nav-right {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 10px;
}

/*hero section*/

.hero-container {
    background-image: url(/resources/img-mission-background.jpg);
    background-position: center;
    height: 700px;
    max-width: 1200px;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
}  

.hero-banner {
    flex-grow: 1;
    flex-wrap: wrap;
}

.hero-banner-topline {
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: 100%;
    padding: 10px;
}

.hero-banner-bottomline {
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 10px;
}

/*Tea of the Month section*/

.image-gallery {
    display: flex;
    max-width: 1000px;
    margin: 0 auto 70px auto; 
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.image-gallery-image {
    padding: 10px;
    flex-grow: 1;
}

.image-gallery-image img {
    max-width: 300px;
    max-height: 200px; 
}

.image-gallery-image h4 {
    margin: 10px 10px;
}

.image-gallery h2 {
    flex-basis: 100%;
    padding: 50px 0px 30px 0px;
}

.image-gallery p {
    flex-basis: 100%;
    padding: 0px 0px 30px 0px;
}

/*Locations*/

.locations {
    background-image: url(/resources/img-locations-background.webp);
    max-width: 1200px;
    min-height: 500px;
    background-position: center;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
}

.locations-title {
    flex-grow: 1;
    flex-basis: inherit;
    background-color: transparent;
    margin: 2% 0px;
}

.locations-title h2 {
    background-color: transparent;
}

.location-card {
    margin-right: 20px;
    margin-bottom: 20px;
    min-width: 300px;
    opacity: 1;
}

.location-card p {
    line-height: 2.5;
    padding: 0px 0px 30px 0px;
}

.location-card h3 {
    padding: 20px 0px 20px 0px;
    font-size: 22px;
}

.spacer {
    flex-grow: 1;
    flex-basis: 100%;
    background-color: transparent;
    min-height: 25%;
}

#location-spacer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    flex-basis: 100%;
    flex-grow: 1;
    background-color: transparent;
}

/*footer*/

.footer-container {
    margin: 20px auto;
    height: 200px;
}

.copyright {
    text-align: left;
    padding: 0px 0px 20px 20px;
}